
<div class="text-center">
  <h3>Choose a game mode:</h3>

  <%= link_to 'Normal Mode', game_path(mode: 'normal'), class: 'btn btn-success' %>
  <br>
  <br>
  <%= link_to 'Forced Runs', game_path(mode: 'forced'), class: 'btn btn-danger' %>
</div>
