<nav class="navbar navbar-light bg-primary" style="margin-bottom: 10px">
  <a class="navbar-brand" href="/">
    <%= image_tag 'baseball-logo.png', class: 'd-inline-block align-top', width: '30px'%>
    Baseball Drinking Game
  </a>
</nav>
